
{% load static %}
<!-- Libs JS -->
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'libs/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'libs/jquery-raty-js/lib/jquery.raty.js' %}"></script>
<script src="{% static 'libs/quill/dist/quill.min.js' %}"></script>
<script src="{% static 'libs/uppy/dist/uppy.min.js' %}"></script>
<script src="{% static 'libs/litepicker/dist/litepicker.js' %}"></script>
<script src="{% static 'libs/prismjs/prism.js' %}"></script>
<script src="{% static 'libs/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'libs/nouislider/dist/nouislider.min.js' %}"></script>
<script src="{% static 'libs/wnumb/wNumb.min.js' %}"></script>
<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>

<!-- Theme JS -->
<script src="{% static 'js/theme.min.js' %}"></script>
