{% load static %}
<!-- hero image -->
<div class="w-100">
    <div class="position-relative d-flex pt-lg-6 flex-column min-vh-xl-100">
    <span class="position-absolute top-0 end-0 bottom-0 start-0"</span style=" background-size: cover;
    background-position: 50%; background-image: 
    url('{% static "images/hero-img-one.jpg" %}')
    "> </span>

    <div class="position-relative d-flex flex-column justify-content-center pt-12 z-2">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <!-- content -->
    <div class="py-lg-20 py-6 py-md-14 position-relative">
      <div class="text-center mb-10">
        <h1 class="text-white display-3 fw-bold mb-1">Find the great rentals & buyers </h1>
        <p class="lead text-white">Find and book rental rooms, offices, villa, and condo.</p>
      </div>
    
      <!-- search form -->
      <div class="card border-0 p-3 search-form">
        <div class="row">
          <div class="col-sm">
            <select class="select2">
              <option>Location</option>
              <option value="Abuja">Abuja</option>
              <option value="Lagos">Lagos</option>
            </select></div>
            <div class="col-sm">
              <select class="select2">
                <option>Price</option>
                <option value="100">$100</option>
                <option value="Duplex">$200</option>
              </select>
            </div>
           
            <div class="col-sm">
              <select class="select2">
                <option>Property Type</option>
                <option value="Apartement">Apartment</option>
                <option value="Duplex">Duplex</option>
              </select>
            </div>
            <div class="col-sm-2">
              <div class="d-grid ">
                <a href="#" class="btn btn-primary">Search</a>
              </div>
            </div>
        </div>
      </div>
    
      <!-- end of search form -->
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- end of hero section-->
