{% extends 'account_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
   <!-- content -->
   <div class="min-vh-100 py-md-10 py-lg-0" style="background:   url('/static/images/hero-img-one.jpg') no-repeat center center fixed; -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;">
         <div class="container">
             <div class="row d-flex align-items-center min-vh-100 justify-content-end">
                 <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
                     <!-- card -->
                     <div class="card shadow border-0">
                         <!-- card body -->
                         <div class="card-body p-8">
                             <h3 class="mb-4">Welcome to Spacehunt </h3>
                             <!-- form -->
                             <form>
                                 <!-- email -->
                                 <div class="mb-3">
                                  {% csrf_token %}
                                  {{ form|crispy }}
                                 </div>
                                 
                                 <!-- button -->
                                 <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                             </form>
                             <div class="mt-4">
                                 <p class="mb-0">Don’t Have an Account?<a href="{% url 'realtor_signup' %}"> Sign Up</a></p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
  </form>
  
{% endblock %}
